<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %msg%n"/>
        </Console>
        <!--
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        <RollingFile name="ROLLING_FILE"
                     fileName="/tmp/app.logger"
                     filePattern="/tmp/app.%d{MM-dd-yyyy-HH-mm}.%i.logger.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50000 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="/tmp/app.*.logger.gz" />
                    <IfLastModified age="20d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
-->

        <RollingFile name="ROLLING_FILE"
                     fileName="arbitrage.log"
                     filePattern="app.%d{MM-dd-yyyy-HH-mm}.%i.arbitrage.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="500000 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="/tmp/app.*.logger.gz" />
                    <IfLastModified age="20d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="info" additivity="false"/>


        <Root level="debug" includeLocation="true">
            <AppenderRef ref="CONSOLE"/>
            <!-- <AppenderRef ref="ROLLING_FILE"/> -->
        </Root>
    </Loggers>
</Configuration>